Frontend/GDPTalentoWA/GDPTalentoWA/Connected Services/StaffWS/StaffWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://ws.core.gdptalento.pucp.edu.pe/" targetNamespace="http://ws.core.gdptalento.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="eliminarStaff" type="tns:eliminarStaff" />
  <xs:element name="eliminarStaffResponse" type="tns:eliminarStaffResponse" />
  <xs:element name="insertarStaff" type="tns:insertarStaff" />
  <xs:element name="insertarStaffResponse" type="tns:insertarStaffResponse" />
  <xs:element name="listarStaff" type="tns:listarStaff" />
  <xs:element name="listarStaffResponse" type="tns:listarStaffResponse" />
  <xs:element name="modificarStaff" type="tns:modificarStaff" />
  <xs:element name="modificarStaffResponse" type="tns:modificarStaffResponse" />
  <xs:complexType name="insertarStaff">
    <xs:sequence>
      <xs:element minOccurs="0" name="staff" type="tns:staff" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="staff">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:miembroPUCP">
        <xs:sequence>
          <xs:element minOccurs="0" name="area" type="tns:area" />
          <xs:element name="desempenio" type="xs:double" />
          <xs:element minOccurs="0" name="estado" type="tns:estadoMiembro" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="evaluaciones" nillable="true" type="tns:evaluacionDesempeño" />
          <xs:element minOccurs="0" name="fechaIngreso" type="tns:localDate" />
          <xs:element minOccurs="0" name="fechaSalida" type="tns:localDate" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="miembroPUCP">
    <xs:sequence>
      <xs:element name="codigoPUCP" type="xs:int" />
      <xs:element minOccurs="0" name="correo" type="xs:string" />
      <xs:element minOccurs="0" name="especialidad" type="xs:string" />
      <xs:element minOccurs="0" name="facultad" type="xs:string" />
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="status" type="tns:estadoPUCP" />
      <xs:element minOccurs="0" name="telefono" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="evaluacionDesempeño">
    <xs:sequence>
      <xs:element minOccurs="0" name="comentarios" type="xs:string" />
      <xs:element minOccurs="0" name="evaluador" type="tns:usuario" />
      <xs:element minOccurs="0" name="fecha" type="tns:localDate" />
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="miembroEvaluado" type="tns:staff" />
      <xs:element name="puntaje" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="usuario">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:staff">
        <xs:sequence>
          <xs:element minOccurs="0" name="hashContrasena" type="xs:string" />
          <xs:element minOccurs="0" name="rol" type="tns:rol" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="rol">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="tns:nombreRol" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="permisos" nillable="true" type="tns:permiso" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="usuarios" nillable="true" type="tns:usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="localDate" final="extension restriction">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="insertarStaffResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarStaff">
    <xs:sequence>
      <xs:element minOccurs="0" name="staff" type="tns:staff" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarStaffResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarStaff">
    <xs:sequence>
      <xs:element name="idstaff" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarStaffResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarStaff">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarStaffResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:staff" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="area">
    <xs:restriction base="xs:string">
      <xs:enumeration value="RECURSOS_HUMANOS" />
      <xs:enumeration value="PRESIDENCIA" />
      <xs:enumeration value="MARKETING" />
      <xs:enumeration value="GDP_ACADEMY" />
      <xs:enumeration value="EVENTOS" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="estadoMiembro">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ACTIVO" />
      <xs:enumeration value="INACTIVO" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="nombreRol">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ADMIN" />
      <xs:enumeration value="RECLUTADOR" />
      <xs:enumeration value="COORDINADOR" />
      <xs:enumeration value="DIRECTOR_RRHH" />
      <xs:enumeration value="MIEMBRO_RRHH" />
      <xs:enumeration value="PRESIDENTE" />
      <xs:enumeration value="DIRECTOR_MARKETING" />
      <xs:enumeration value="DIRECTOR_EVENTOS" />
      <xs:enumeration value="DIRECTOR_GDP_ACADEMY" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="permiso">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CREAR_MIEMBRO" />
      <xs:enumeration value="BORRAR_MIEMBRO" />
      <xs:enumeration value="CREAR_TAREA" />
      <xs:enumeration value="CREAR_ENTREVISTA" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="estadoPUCP">
    <xs:restriction base="xs:string">
      <xs:enumeration value="MATRICULADO" />
      <xs:enumeration value="NO_MATRICULADO" />
      <xs:enumeration value="EGRESADO" />
      <xs:enumeration value="EXTERNO" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>