Frontend/GDPTalentoWA/GDPTalentoWA/Connected Services/ServicioWeb/EntrevistaWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.pucp.edu.pe" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="EntrevistaWS" targetNamespace="http://services.pucp.edu.pe" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/GDPTalentoWA/EntrevistaWS?xsd=1" namespace="http://services.pucp.edu.pe" />
    </xsd:schema>
  </types>
  <message name="insertarEntrevista">
    <part name="parameters" element="tns:insertarEntrevista" />
  </message>
  <message name="insertarEntrevistaResponse">
    <part name="parameters" element="tns:insertarEntrevistaResponse" />
  </message>
  <message name="listarEntrevistas">
    <part name="parameters" element="tns:listarEntrevistas" />
  </message>
  <message name="listarEntrevistasResponse">
    <part name="parameters" element="tns:listarEntrevistasResponse" />
  </message>
  <message name="eliminarEntrevista">
    <part name="parameters" element="tns:eliminarEntrevista" />
  </message>
  <message name="eliminarEntrevistaResponse">
    <part name="parameters" element="tns:eliminarEntrevistaResponse" />
  </message>
  <message name="modificarEntrevista">
    <part name="parameters" element="tns:modificarEntrevista" />
  </message>
  <message name="modificarEntrevistaResponse">
    <part name="parameters" element="tns:modificarEntrevistaResponse" />
  </message>
  <portType name="EntrevistaWS">
    <operation name="insertarEntrevista">
      <input wsam:Action="http://services.pucp.edu.pe/EntrevistaWS/insertarEntrevistaRequest" message="tns:insertarEntrevista" />
      <output wsam:Action="http://services.pucp.edu.pe/EntrevistaWS/insertarEntrevistaResponse" message="tns:insertarEntrevistaResponse" />
    </operation>
    <operation name="listarEntrevistas">
      <input wsam:Action="http://services.pucp.edu.pe/EntrevistaWS/listarEntrevistasRequest" message="tns:listarEntrevistas" />
      <output wsam:Action="http://services.pucp.edu.pe/EntrevistaWS/listarEntrevistasResponse" message="tns:listarEntrevistasResponse" />
    </operation>
    <operation name="eliminarEntrevista">
      <input wsam:Action="http://services.pucp.edu.pe/EntrevistaWS/eliminarEntrevistaRequest" message="tns:eliminarEntrevista" />
      <output wsam:Action="http://services.pucp.edu.pe/EntrevistaWS/eliminarEntrevistaResponse" message="tns:eliminarEntrevistaResponse" />
    </operation>
    <operation name="modificarEntrevista">
      <input wsam:Action="http://services.pucp.edu.pe/EntrevistaWS/modificarEntrevistaRequest" message="tns:modificarEntrevista" />
      <output wsam:Action="http://services.pucp.edu.pe/EntrevistaWS/modificarEntrevistaResponse" message="tns:modificarEntrevistaResponse" />
    </operation>
  </portType>
  <binding name="EntrevistaWSPortBinding" type="tns:EntrevistaWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="insertarEntrevista">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarEntrevistas">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarEntrevista">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarEntrevista">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="EntrevistaWS">
    <port name="EntrevistaWSPort" binding="tns:EntrevistaWSPortBinding">
      <soap:address location="http://localhost:8080/GDPTalentoWA/EntrevistaWS" />
    </port>
  </service>
</definitions>