Frontend/GDPTalentoWA/GDPTalentoWA/Connected Services/ServicioWeb/InicioWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.pucp.edu.pe" targetNamespace="http://services.pucp.edu.pe" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="devolverResumen" type="tns:devolverResumen" />
  <xs:element name="devolverResumenResponse" type="tns:devolverResumenResponse" />
  <xs:complexType name="devolverResumen">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="devolverResumenResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>