Frontend/GDPTalentoWA/GDPTalentoWA/Connected Services/ServicioWeb/InicioWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.pucp.edu.pe" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="InicioWS" targetNamespace="http://services.pucp.edu.pe" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/GDPTalentoWA/InicioWS?xsd=1" namespace="http://services.pucp.edu.pe" />
    </xsd:schema>
  </types>
  <message name="devolverTotales">
    <part name="parameters" element="tns:devolverTotales" />
  </message>
  <message name="devolverTotalesResponse">
    <part name="parameters" element="tns:devolverTotalesResponse" />
  </message>
  <message name="devolverVariacionMiembros">
    <part name="parameters" element="tns:devolverVariacionMiembros" />
  </message>
  <message name="devolverVariacionMiembrosResponse">
    <part name="parameters" element="tns:devolverVariacionMiembrosResponse" />
  </message>
  <message name="devolverProximaEntrevista">
    <part name="parameters" element="tns:devolverProximaEntrevista" />
  </message>
  <message name="devolverProximaEntrevistaResponse">
    <part name="parameters" element="tns:devolverProximaEntrevistaResponse" />
  </message>
  <portType name="InicioWS">
    <operation name="devolverTotales">
      <input wsam:Action="http://services.pucp.edu.pe/InicioWS/devolverTotalesRequest" message="tns:devolverTotales" />
      <output wsam:Action="http://services.pucp.edu.pe/InicioWS/devolverTotalesResponse" message="tns:devolverTotalesResponse" />
    </operation>
    <operation name="devolverVariacionMiembros">
      <input wsam:Action="http://services.pucp.edu.pe/InicioWS/devolverVariacionMiembrosRequest" message="tns:devolverVariacionMiembros" />
      <output wsam:Action="http://services.pucp.edu.pe/InicioWS/devolverVariacionMiembrosResponse" message="tns:devolverVariacionMiembrosResponse" />
    </operation>
    <operation name="devolverProximaEntrevista">
      <input wsam:Action="http://services.pucp.edu.pe/InicioWS/devolverProximaEntrevistaRequest" message="tns:devolverProximaEntrevista" />
      <output wsam:Action="http://services.pucp.edu.pe/InicioWS/devolverProximaEntrevistaResponse" message="tns:devolverProximaEntrevistaResponse" />
    </operation>
  </portType>
  <binding name="InicioWSPortBinding" type="tns:InicioWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="devolverTotales">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="devolverVariacionMiembros">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="devolverProximaEntrevista">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="InicioWS">
    <port name="InicioWSPort" binding="tns:InicioWSPortBinding">
      <soap:address location="http://localhost:8080/GDPTalentoWA/InicioWS" />
    </port>
  </service>
</definitions>