Frontend/GDPTalentoWA/GDPTalentoWA/Connected Services/ServicioWeb/MiembroPUCPWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.pucp.edu.pe" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="MiembroPUCPWS" targetNamespace="http://services.pucp.edu.pe" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/GDPTalentoWA/MiembroPUCPWS?xsd=1" namespace="http://services.pucp.edu.pe" />
    </xsd:schema>
  </types>
  <message name="insertarMiembroPUCP">
    <part name="parameters" element="tns:insertarMiembroPUCP" />
  </message>
  <message name="insertarMiembroPUCPResponse">
    <part name="parameters" element="tns:insertarMiembroPUCPResponse" />
  </message>
  <message name="modificarMiembroPUCP">
    <part name="parameters" element="tns:modificarMiembroPUCP" />
  </message>
  <message name="modificarMiembroPUCPResponse">
    <part name="parameters" element="tns:modificarMiembroPUCPResponse" />
  </message>
  <message name="eliminarMiembroPUCP">
    <part name="parameters" element="tns:eliminarMiembroPUCP" />
  </message>
  <message name="eliminarMiembroPUCPResponse">
    <part name="parameters" element="tns:eliminarMiembroPUCPResponse" />
  </message>
  <message name="listarMiembroPUCP">
    <part name="parameters" element="tns:listarMiembroPUCP" />
  </message>
  <message name="listarMiembroPUCPResponse">
    <part name="parameters" element="tns:listarMiembroPUCPResponse" />
  </message>
  <portType name="MiembroPUCPWS">
    <operation name="insertarMiembroPUCP">
      <input wsam:Action="http://services.pucp.edu.pe/MiembroPUCPWS/insertarMiembroPUCPRequest" message="tns:insertarMiembroPUCP" />
      <output wsam:Action="http://services.pucp.edu.pe/MiembroPUCPWS/insertarMiembroPUCPResponse" message="tns:insertarMiembroPUCPResponse" />
    </operation>
    <operation name="modificarMiembroPUCP">
      <input wsam:Action="http://services.pucp.edu.pe/MiembroPUCPWS/modificarMiembroPUCPRequest" message="tns:modificarMiembroPUCP" />
      <output wsam:Action="http://services.pucp.edu.pe/MiembroPUCPWS/modificarMiembroPUCPResponse" message="tns:modificarMiembroPUCPResponse" />
    </operation>
    <operation name="eliminarMiembroPUCP">
      <input wsam:Action="http://services.pucp.edu.pe/MiembroPUCPWS/eliminarMiembroPUCPRequest" message="tns:eliminarMiembroPUCP" />
      <output wsam:Action="http://services.pucp.edu.pe/MiembroPUCPWS/eliminarMiembroPUCPResponse" message="tns:eliminarMiembroPUCPResponse" />
    </operation>
    <operation name="listarMiembroPUCP">
      <input wsam:Action="http://services.pucp.edu.pe/MiembroPUCPWS/listarMiembroPUCPRequest" message="tns:listarMiembroPUCP" />
      <output wsam:Action="http://services.pucp.edu.pe/MiembroPUCPWS/listarMiembroPUCPResponse" message="tns:listarMiembroPUCPResponse" />
    </operation>
  </portType>
  <binding name="MiembroPUCPWSPortBinding" type="tns:MiembroPUCPWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="insertarMiembroPUCP">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarMiembroPUCP">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarMiembroPUCP">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarMiembroPUCP">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="MiembroPUCPWS">
    <port name="MiembroPUCPWSPort" binding="tns:MiembroPUCPWSPortBinding">
      <soap:address location="http://localhost:8080/GDPTalentoWA/MiembroPUCPWS" />
    </port>
  </service>
</definitions>