Frontend/GDPTalentoWA/GDPTalentoWA/Connected Services/ServicioWeb/PostulanteWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.pucp.edu.pe" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="PostulanteWS" targetNamespace="http://services.pucp.edu.pe" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/GDPTalentoWA/PostulanteWS?xsd=1" namespace="http://services.pucp.edu.pe" />
    </xsd:schema>
  </types>
  <message name="eliminarPostulante">
    <part name="parameters" element="tns:eliminarPostulante" />
  </message>
  <message name="eliminarPostulanteResponse">
    <part name="parameters" element="tns:eliminarPostulanteResponse" />
  </message>
  <message name="insertarPostulante">
    <part name="parameters" element="tns:insertarPostulante" />
  </message>
  <message name="insertarPostulanteResponse">
    <part name="parameters" element="tns:insertarPostulanteResponse" />
  </message>
  <message name="listarPostulantes">
    <part name="parameters" element="tns:listarPostulantes" />
  </message>
  <message name="listarPostulantesResponse">
    <part name="parameters" element="tns:listarPostulantesResponse" />
  </message>
  <message name="modificarPostulante">
    <part name="parameters" element="tns:modificarPostulante" />
  </message>
  <message name="modificarPostulanteResponse">
    <part name="parameters" element="tns:modificarPostulanteResponse" />
  </message>
  <portType name="PostulanteWS">
    <operation name="eliminarPostulante">
      <input wsam:Action="http://services.pucp.edu.pe/PostulanteWS/eliminarPostulanteRequest" message="tns:eliminarPostulante" />
      <output wsam:Action="http://services.pucp.edu.pe/PostulanteWS/eliminarPostulanteResponse" message="tns:eliminarPostulanteResponse" />
    </operation>
    <operation name="insertarPostulante">
      <input wsam:Action="http://services.pucp.edu.pe/PostulanteWS/insertarPostulanteRequest" message="tns:insertarPostulante" />
      <output wsam:Action="http://services.pucp.edu.pe/PostulanteWS/insertarPostulanteResponse" message="tns:insertarPostulanteResponse" />
    </operation>
    <operation name="listarPostulantes">
      <input wsam:Action="http://services.pucp.edu.pe/PostulanteWS/listarPostulantesRequest" message="tns:listarPostulantes" />
      <output wsam:Action="http://services.pucp.edu.pe/PostulanteWS/listarPostulantesResponse" message="tns:listarPostulantesResponse" />
    </operation>
    <operation name="modificarPostulante">
      <input wsam:Action="http://services.pucp.edu.pe/PostulanteWS/modificarPostulanteRequest" message="tns:modificarPostulante" />
      <output wsam:Action="http://services.pucp.edu.pe/PostulanteWS/modificarPostulanteResponse" message="tns:modificarPostulanteResponse" />
    </operation>
  </portType>
  <binding name="PostulanteWSPortBinding" type="tns:PostulanteWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="eliminarPostulante">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarPostulante">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarPostulantes">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarPostulante">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="PostulanteWS">
    <port name="PostulanteWSPort" binding="tns:PostulanteWSPortBinding">
      <soap:address location="http://localhost:8080/GDPTalentoWA/PostulanteWS" />
    </port>
  </service>
</definitions>