Frontend/GDPTalentoWA/GDPTalentoWA/Connected Services/ServicioWeb/PostulanteWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.pucp.edu.pe" targetNamespace="http://services.pucp.edu.pe" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="eliminarPostulante" type="tns:eliminarPostulante" />
  <xs:element name="eliminarPostulanteResponse" type="tns:eliminarPostulanteResponse" />
  <xs:element name="insertarPostulante" type="tns:insertarPostulante" />
  <xs:element name="insertarPostulanteResponse" type="tns:insertarPostulanteResponse" />
  <xs:element name="listarPostulantes" type="tns:listarPostulantes" />
  <xs:element name="listarPostulantesResponse" type="tns:listarPostulantesResponse" />
  <xs:element name="modificarPostulante" type="tns:modificarPostulante" />
  <xs:element name="modificarPostulanteResponse" type="tns:modificarPostulanteResponse" />
  <xs:complexType name="listarPostulantes">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarPostulantesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:postulante" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="postulante">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:miembroPUCP">
        <xs:sequence>
          <xs:element minOccurs="0" name="estadoProceso" type="tns:estadoProceso" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="miembroPUCP">
    <xs:sequence>
      <xs:element name="codigoPUCP" type="xs:int" />
      <xs:element minOccurs="0" name="correo" type="xs:string" />
      <xs:element minOccurs="0" name="especialidad" type="xs:string" />
      <xs:element minOccurs="0" name="facultad" type="xs:string" />
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="status" type="tns:estadoPUCP" />
      <xs:element minOccurs="0" name="telefono" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarPostulante">
    <xs:sequence>
      <xs:element minOccurs="0" name="postulante" type="tns:postulante" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarPostulanteResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarPostulante">
    <xs:sequence>
      <xs:element minOccurs="0" name="postulante" type="tns:postulante" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarPostulanteResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarPostulante">
    <xs:sequence>
      <xs:element name="idpostulante" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarPostulanteResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="estadoProceso">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PENDIENTE" />
      <xs:enumeration value="APROBADO" />
      <xs:enumeration value="RECHAZADO" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="estadoPUCP">
    <xs:restriction base="xs:string">
      <xs:enumeration value="MATRICULADO" />
      <xs:enumeration value="NO_MATRICULADO" />
      <xs:enumeration value="EGRESADO" />
      <xs:enumeration value="EXTERNO" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>