Frontend/GDPTalentoWA/GDPTalentoWA/Connected Services/ServicioWeb/RolWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.pucp.edu.pe" targetNamespace="http://services.pucp.edu.pe" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="eliminarRol" type="tns:eliminarRol" />
  <xs:element name="eliminarRolResponse" type="tns:eliminarRolResponse" />
  <xs:element name="insertarRol" type="tns:insertarRol" />
  <xs:element name="insertarRolResponse" type="tns:insertarRolResponse" />
  <xs:element name="listarRoles" type="tns:listarRoles" />
  <xs:element name="listarRolesResponse" type="tns:listarRolesResponse" />
  <xs:element name="modificarRol" type="tns:modificarRol" />
  <xs:element name="modificarRolResponse" type="tns:modificarRolResponse" />
  <xs:complexType name="eliminarRol">
    <xs:sequence>
      <xs:element name="idRol" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarRolResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarRoles">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarRolesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:rol" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="rol">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="tns:nombreRol" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="permisos" nillable="true" type="tns:permiso" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="usuarios" nillable="true" type="tns:usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="usuario">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:staff">
        <xs:sequence>
          <xs:element minOccurs="0" name="hashContrasena" type="xs:string" />
          <xs:element minOccurs="0" name="rol" type="tns:rol" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="staff">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:miembroPUCP">
        <xs:sequence>
          <xs:element minOccurs="0" name="area" type="tns:area" />
          <xs:element name="desempenio" type="xs:double" />
          <xs:element minOccurs="0" name="estado" type="tns:estadoMiembro" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="evaluaciones" nillable="true" type="tns:evaluacionDesempeño" />
          <xs:element minOccurs="0" name="fechaIngreso" type="xs:dateTime" />
          <xs:element minOccurs="0" name="fechaSalida" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="miembroPUCP">
    <xs:sequence>
      <xs:element name="codigoPUCP" type="xs:int" />
      <xs:element minOccurs="0" name="correo" type="xs:string" />
      <xs:element minOccurs="0" name="especialidad" type="xs:string" />
      <xs:element minOccurs="0" name="facultad" type="xs:string" />
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="status" type="tns:estadoPUCP" />
      <xs:element minOccurs="0" name="telefono" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="evaluacionDesempeño">
    <xs:sequence>
      <xs:element minOccurs="0" name="comentarios" type="xs:string" />
      <xs:element minOccurs="0" name="evaluador" type="tns:usuario" />
      <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="miembroEvaluado" type="tns:staff" />
      <xs:element name="puntaje" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarRol">
    <xs:sequence>
      <xs:element minOccurs="0" name="rol" type="tns:rol" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarRolResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarRol">
    <xs:sequence>
      <xs:element minOccurs="0" name="rol" type="tns:rol" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarRolResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="nombreRol">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ADMIN" />
      <xs:enumeration value="RECLUTADOR" />
      <xs:enumeration value="COORDINADOR" />
      <xs:enumeration value="DIRECTOR_RRHH" />
      <xs:enumeration value="MIEMBRO_RRHH" />
      <xs:enumeration value="PRESIDENTE" />
      <xs:enumeration value="DIRECTOR_MARKETING" />
      <xs:enumeration value="DIRECTOR_EVENTOS" />
      <xs:enumeration value="DIRECTOR_GDP_ACADEMY" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="permiso">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CREAR_MIEMBRO" />
      <xs:enumeration value="BORRAR_MIEMBRO" />
      <xs:enumeration value="CREAR_TAREA" />
      <xs:enumeration value="CREAR_ENTREVISTA" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="area">
    <xs:restriction base="xs:string">
      <xs:enumeration value="RECURSOS_HUMANOS" />
      <xs:enumeration value="PRESIDENCIA" />
      <xs:enumeration value="MARKETING" />
      <xs:enumeration value="GDP_ACADEMY" />
      <xs:enumeration value="EVENTOS" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="estadoMiembro">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ACTIVO" />
      <xs:enumeration value="INACTIVO" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="estadoPUCP">
    <xs:restriction base="xs:string">
      <xs:enumeration value="MATRICULADO" />
      <xs:enumeration value="NO_MATRICULADO" />
      <xs:enumeration value="EGRESADO" />
      <xs:enumeration value="EXTERNO" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>