Frontend/GDPTalentoWA/GDPTalentoWA/Connected Services/ServicioWeb/TareaWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.pucp.edu.pe" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="TareaWS" targetNamespace="http://services.pucp.edu.pe" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/GDPTalentoWA/TareaWS?xsd=1" namespace="http://services.pucp.edu.pe" />
    </xsd:schema>
  </types>
  <message name="eliminarTarea">
    <part name="parameters" element="tns:eliminarTarea" />
  </message>
  <message name="eliminarTareaResponse">
    <part name="parameters" element="tns:eliminarTareaResponse" />
  </message>
  <message name="modificarTarea">
    <part name="parameters" element="tns:modificarTarea" />
  </message>
  <message name="modificarTareaResponse">
    <part name="parameters" element="tns:modificarTareaResponse" />
  </message>
  <message name="listarTareas">
    <part name="parameters" element="tns:listarTareas" />
  </message>
  <message name="listarTareasResponse">
    <part name="parameters" element="tns:listarTareasResponse" />
  </message>
  <message name="insertarTarea">
    <part name="parameters" element="tns:insertarTarea" />
  </message>
  <message name="insertarTareaResponse">
    <part name="parameters" element="tns:insertarTareaResponse" />
  </message>
  <portType name="TareaWS">
    <operation name="eliminarTarea">
      <input wsam:Action="http://services.pucp.edu.pe/TareaWS/eliminarTareaRequest" message="tns:eliminarTarea" />
      <output wsam:Action="http://services.pucp.edu.pe/TareaWS/eliminarTareaResponse" message="tns:eliminarTareaResponse" />
    </operation>
    <operation name="modificarTarea">
      <input wsam:Action="http://services.pucp.edu.pe/TareaWS/modificarTareaRequest" message="tns:modificarTarea" />
      <output wsam:Action="http://services.pucp.edu.pe/TareaWS/modificarTareaResponse" message="tns:modificarTareaResponse" />
    </operation>
    <operation name="listarTareas">
      <input wsam:Action="http://services.pucp.edu.pe/TareaWS/listarTareasRequest" message="tns:listarTareas" />
      <output wsam:Action="http://services.pucp.edu.pe/TareaWS/listarTareasResponse" message="tns:listarTareasResponse" />
    </operation>
    <operation name="insertarTarea">
      <input wsam:Action="http://services.pucp.edu.pe/TareaWS/insertarTareaRequest" message="tns:insertarTarea" />
      <output wsam:Action="http://services.pucp.edu.pe/TareaWS/insertarTareaResponse" message="tns:insertarTareaResponse" />
    </operation>
  </portType>
  <binding name="TareaWSPortBinding" type="tns:TareaWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="eliminarTarea">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarTarea">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarTareas">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarTarea">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="TareaWS">
    <port name="TareaWSPort" binding="tns:TareaWSPortBinding">
      <soap:address location="http://localhost:8080/GDPTalentoWA/TareaWS" />
    </port>
  </service>
</definitions>