Frontend/GDPTalentoWA/GDPTalentoWA/Connected Services/ServicioWeb/UsuarioWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.pucp.edu.pe" targetNamespace="http://services.pucp.edu.pe" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="eliminarUsuario" type="tns:eliminarUsuario" />
  <xs:element name="eliminarUsuarioResponse" type="tns:eliminarUsuarioResponse" />
  <xs:element name="insertarUsuario" type="tns:insertarUsuario" />
  <xs:element name="insertarUsuarioResponse" type="tns:insertarUsuarioResponse" />
  <xs:element name="listarUsuarios" type="tns:listarUsuarios" />
  <xs:element name="listarUsuariosResponse" type="tns:listarUsuariosResponse" />
  <xs:element name="modificarUsuario" type="tns:modificarUsuario" />
  <xs:element name="modificarUsuarioBasico" type="tns:modificarUsuarioBasico" />
  <xs:element name="modificarUsuarioBasicoResponse" type="tns:modificarUsuarioBasicoResponse" />
  <xs:element name="modificarUsuarioResponse" type="tns:modificarUsuarioResponse" />
  <xs:element name="obtenerPorId" type="tns:obtenerPorId" />
  <xs:element name="obtenerPorIdResponse" type="tns:obtenerPorIdResponse" />
  <xs:element name="verificar" type="tns:verificar" />
  <xs:element name="verificarResponse" type="tns:verificarResponse" />
  <xs:complexType name="insertarUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="usuario" type="tns:usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="usuario">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:staff">
        <xs:sequence>
          <xs:element minOccurs="0" name="hashContrasena" type="xs:string" />
          <xs:element minOccurs="0" name="rol" type="tns:rol" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="staff">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:miembroPUCP">
        <xs:sequence>
          <xs:element minOccurs="0" name="area" type="tns:area" />
          <xs:element name="desempenio" type="xs:double" />
          <xs:element minOccurs="0" name="estado" type="tns:estadoMiembro" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="evaluaciones" nillable="true" type="tns:evaluacionDesempeño" />
          <xs:element minOccurs="0" name="fechaIngreso" type="tns:localDate" />
          <xs:element minOccurs="0" name="fechaSalida" type="tns:localDate" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="miembroPUCP">
    <xs:sequence>
      <xs:element name="codigoPUCP" type="xs:int" />
      <xs:element minOccurs="0" name="correo" type="xs:string" />
      <xs:element minOccurs="0" name="especialidad" type="xs:string" />
      <xs:element minOccurs="0" name="facultad" type="xs:string" />
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="status" type="tns:estadoPUCP" />
      <xs:element minOccurs="0" name="telefono" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="rol">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="tns:nombreRol" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="permisos" nillable="true" type="tns:permiso" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="usuarios" nillable="true" type="tns:usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="evaluacionDesempeño">
    <xs:sequence>
      <xs:element minOccurs="0" name="comentarios" type="xs:string" />
      <xs:element minOccurs="0" name="evaluador" type="tns:usuario" />
      <xs:element minOccurs="0" name="fecha" type="tns:localDate" />
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="miembroEvaluado" type="tns:staff" />
      <xs:element name="puntaje" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="localDate" final="extension restriction">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="insertarUsuarioResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="verificar">
    <xs:sequence>
      <xs:element name="codigo" type="xs:int" />
      <xs:element minOccurs="0" name="contrasenha" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="verificarResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="usuario" type="tns:usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarUsuarioResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarUsuarios">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarUsuariosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarUsuario">
    <xs:sequence>
      <xs:element name="idUsuario" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarUsuarioResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarUsuarioBasico">
    <xs:sequence>
      <xs:element minOccurs="0" name="usuario" type="tns:usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarUsuarioBasicoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPorId">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPorIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="nombreRol">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ADMIN" />
      <xs:enumeration value="RECLUTADOR" />
      <xs:enumeration value="COORDINADOR" />
      <xs:enumeration value="DIRECTOR_RRHH" />
      <xs:enumeration value="MIEMBRO_RRHH" />
      <xs:enumeration value="PRESIDENTE" />
      <xs:enumeration value="DIRECTOR_MARKETING" />
      <xs:enumeration value="DIRECTOR_EVENTOS" />
      <xs:enumeration value="DIRECTOR_GDP_ACADEMY" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="permiso">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CREAR_MIEMBRO" />
      <xs:enumeration value="BORRAR_MIEMBRO" />
      <xs:enumeration value="CREAR_TAREA" />
      <xs:enumeration value="CREAR_ENTREVISTA" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="area">
    <xs:restriction base="xs:string">
      <xs:enumeration value="RECURSOS_HUMANOS" />
      <xs:enumeration value="PRESIDENCIA" />
      <xs:enumeration value="MARKETING" />
      <xs:enumeration value="GDP_ACADEMY" />
      <xs:enumeration value="EVENTOS" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="estadoMiembro">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ACTIVO" />
      <xs:enumeration value="INACTIVO" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="estadoPUCP">
    <xs:restriction base="xs:string">
      <xs:enumeration value="MATRICULADO" />
      <xs:enumeration value="NO_MATRICULADO" />
      <xs:enumeration value="EGRESADO" />
      <xs:enumeration value="EXTERNO" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>